/* Custom navbar style */
.navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 html {
   min-height: 100%;
   position: relative;
 }
 .forum-list-title{
    margin-top: 80px;
 }
 body {
    margin-top: 70px;
    height: 100%;
    padding-bottom: 50px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrN-Nbbg_hob9CVBG8Oqk0sT0E48ueqxsflySwJ_ZQ-dWYmGrF-w") no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

header {
	padding: 0 15px;
}
#forum_list{
    background-color:#256630;
}
.container{   
    border: 2px solid;
    border-radius: 25px;
    color: white;
    font: "Helvetica Neue";
    background-color:#333;
    margin: auto;
    margin-top: 20px; 
    width:75%;
}

#new_forum{
    margin: auto;
    width:75%;
}

.pagination{
    margin: auto;
    font-size: 18px;
}
textarea{
    color: black;
}

.comment {
    float: left;
    width: 100%;
    height: auto;
    }

    .comment-text-area {
    float: left;
    width:100%;
    height: auto;
    }
    .textinput {
    float:left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
    }


    .footer-basic-centered{

        box-sizing: border-box;
        width: 100%;
        text-align: center;
        font: normal 18px sans-serif;
    
        padding: 45px;
        margin-top: 80px;
    }
    
    .footer-basic-centered .footer-company-motto{
        color:  #8d9093;
        font-size: 24px;
        margin: 0;
    }

    
@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}