{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Issue Page</title>
<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Issue Page" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<!-- //For-Mobile-Apps -->
<!-- Style --> <link rel="stylesheet" href="../../static/css/commentIssue.css" type="text/css" media="all" />

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                  <img alt="Brand" src="https://lh3.googleusercontent.com/SYz8CSOaKeFhxh0Ul-wgnNFVmr4Tyq-L3QVTyXSWcqV7S-9zqew4z1PqQmIzNk8Zaqg=w300" height="30" width="30">
                </a>
            </div>
            <p class="navbar-text pull-right" id="demo"> </p>
            <!--/.nav-collapse -->
          </div>
          <!--/.container-fluid -->
        </nav>
      </div>
<br><br>
<header>
        <h2 style="color:rgb(0, 0, 0)">Total Outstanding Issue</h2>
    </header>

    
        <div id="form"  class="container">
              <h3>Comments</h3>
              <div class="comment">
                    <textarea class="textinput" placeholder="Comment"></textarea>
                </div>
              <br>
              <input id="submit" type="submit"  class="btn btn-primary" value="Submit">
              <br>
        </div>
    </div>


    <footer class="footer-basic-centered">

			<p class="footer-company-motto">Pakuwon Smart Reporting Tool</p>


		</footer>
    <script>
            var d = new Date();
            var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
            var months = ["January", "February", "March", "April", "May", "June", "July", "Agugust", "September","October","November","December"];
            document.getElementById("demo").innerHTML = days[d.getDay()]+", "+ d.getUTCDate() + "-" + months[d.getUTCMonth()] + "-" +d.getUTCFullYear();
            document.getElementById("demo1").innerHTML = days[d.getDay()]+", "+ d.getUTCDate() + "-" + months[d.getUTCMonth()] + "-" +d.getUTCFullYear();
        </script>

</body>
</html>