body{
    margin-top: 70px;
    background-color: #cccccc;
  }

  .profile{
    font-size: 20px;
  }
  .name{
    font-size: 24px;
  }
  
  .table{
    font-size: 15px;
  }
  
  #bege{
    background-color: #2079A1; 
  }