html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*img[width],img[height]{width:auto;height:auto;} wordpress hack to reset the attributes (while making responsive) */
/*-- Reset Code --*/

/*-- Fonts --*/
@font-face{
	font-family: 'Lemon-Regular';
	src:url("../fonts/Lemon-Regular.758546ad186e.ttf") format('truetype');
}
@font-face{
	font-family: 'Oswald-Light';
	src:url("../fonts/Oswald-Light.8dece29a87d3.ttf") format('truetype');
}
@font-face{
	font-family: 'Oswald-Regular';
	src:url("../fonts/Oswald-Regular.dab2e777c199.ttf") format('truetype');
}
/*-- Fonts --*/

/*-- Index-Page-Styling --*/



.container {
	margin-top: 50px;
}


h3 {
    text-align: right;
    font-family: Lemon-Regular;
    color: #105986;
    font-size: 20px;
} 
h1 {
    text-align: center;
    font-size: 40px;
    font-family: Lemon-Regular;
    color: #105986;
}
table {
    margin: auto;
    font-size: 10;
    font-family: Oswald-Light;
    color: #1A8610;
}


body {
    display: block;
    padding: 20px;
    font-family: sans-serif;
}

.social-icons {
    max-width: 980px;
    margin: 0 auto;
}

.icon {
    float: left;
    position: relative;
    width: 19%;
    height: 0;
    margin: 1% 0.5%;
    padding-bottom: 19%;
}
    @media all and (min-width: 640px) {
        width: 9%;
        padding-bottom: 9%;
    }

    :last-of-type {
        margin-right: 0;
    }

    a {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 10px;
        background-color: #fff;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all .2s ease-out;
    }
        :hover {
            background-color: #222;
            background-size: 0%;
            transition: all .2s ease-out;
        }
    


.icon__name {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -7px;
    color: #fff;
    font-size: 13px;
    text-align: center;
  
    transition: all .3s ease-out;
    opacity: 0;
    filter: blur(25px);
    transform: translateZ(0);
    will-change: transform;
}
    .icon:hover  {
        transition: all .3s ease-out;
        opacity: 1;
        filter: blur(0);
    }




.icon--facebook a {
    background-color: #A2CEDF;
    background-image: url('https://cdn4.iconfinder.com/data/icons/technology-2/100/technology_internet_communications3-512.png');
}

.icon--twitter a {
    background-color: #A2CEDF;
    background-image: url('http://cdn.mysitemyway.com/icons-watermarks/flat-rounded-square-white-on-black/layouts-rounded/layouts-rounded_short-list-view-reverse/layouts-rounded_short-list-view-reverse_flat-rounded-square-white-on-black_512x512.png');
}

/*-- Index-Page-Styling --*/

/*--- Responsinator Code ---*/


@media screen and (max-width: 568px) {
	h1 {
	    font-size: 35px;
	    margin: 35px 0 0;
	}
}

@media screen and (max-width: 441px) {
	h1 {
	    font-size: 35px;
	    margin: 50px 0;
	}

	input[type="submit"] {
    	padding: 7px 0;
	}
	.footer {
    	margin: 100px 15px 0;
	}
	.footer p {
    	font-size: 14px;
	}
}

@media screen and (max-width: 384px) {
	h1 {
    	font-size: 32px;
	}
}

@media screen and (max-width: 375px) {
	h1 {
    	font-size: 30px;
	}
	
	input[type="submit"] {
    	padding: 7px 0;
	}
	.footer {
    	margin: 100px 10px 0;
	}
	.footer p {
    	font-size: 12px;
	}
}

@media screen and (max-width: 360px) {
	input.user {
	    width: 78%;
	}
	input.pass {
	    width: 78%;
	}
}

@media screen and (max-width: 320px) {
	h1 {
    	font-size: 27px;
    	margin: 35px 0;
    }
	input[type="submit"] {
	    padding: 7px 0;
	}
	.footer {
		margin: 90px 15px 0;
	}
	.footer p {
    	font-size: 13px;
	}
}