/* Custom navbar style */
.navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 html {
   min-height: 100%;
   position: relative;
 }
 .forum-list-title{
    margin-top: 80px;
 }
 body {
    margin-top: 70px;
    height: 100%;
    padding-bottom: 50px;
    background-image: url("https://www.walldevil.com/wallpapers/a49/dancing-animation-wallpaper-baby-sky-wallpapers-images.jpg");
    color: #FFFFFF;
}


#forum_list{
    background-color:#256630;
}
.container{   
    border: 2px solid;
    border-radius: 25px;
    color: white;
    font: "Helvetica Neue";
    background-color:#333;
    margin: auto;
    margin-top: 20px; 
    width:75%;
}

#new_forum{
    margin: auto;
    width:75%;
}

.pagination{
    margin: auto;
    font-size: 18px;
}
textarea{
    color: black;
}

.comment {
    float: left;
    width: 100%;
    height: auto;
    }

    .comment-text-area {
    float: left;
    width:100%;
    height: auto;
    }
    .textinput {
    float:left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
    }