@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrN-Nbbg_hob9CVBG8Oqk0sT0E48ueqxsflySwJ_ZQ-dWYmGrF-w") no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

footer {
	padding: 0 15px;
}



.page-head-image img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 980px) {
    .columns .column {
          margin-bottom: 5px;
      flex-basis: 20%;
          &:nth-last-child(2) {
              margin-right: 0;
          }
          &:last-child {
              flex-basis: 20%;
              margin: 0;
          }
      }
  }
  
  @media screen and (max-width: 680px) {
      .columns .column {
          flex-basis: 20%;
          margin: 0 0 5px 0;
      }
  }
  