{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Issue Page</title>
<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Issue Page" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<script src="{% static 'js/IssuePage.js' %}"></script>
<!-- //For-Mobile-Apps -->
<!-- Style --> <link rel="stylesheet" href="../../static/css/IssuePage.css" type="text/css" media="all" />

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                  <img alt="Brand" src="https://lh3.googleusercontent.com/SYz8CSOaKeFhxh0Ul-wgnNFVmr4Tyq-L3QVTyXSWcqV7S-9zqew4z1PqQmIzNk8Zaqg=w300" height="30" width="30">
                </a>
            </div>
            <p class="navbar-text pull-right" id="demo"> </p>
            <!--/.nav-collapse -->
          </div>
          <!--/.container-fluid -->
        </nav>
      </div>
      <br><br><br><br>
    <div id="wrapper" class="container">
        <h1>Lapor Issue</h1>
        <figure class="page-head-image">
          <img src="https://c1.staticflickr.com/3/2622/3796581808_4809b460fc.jpg" />
        </figure>

          <form id="form-work" class="" name="form-work" action="#">
        
        <fieldset>
        
          <div class="text">
          <div class="form-group">
            <div class="col-md-6">
              <label class="control-label" for="issue">Issue</label>
              <input name="nome" class="form-control" placeholder="Broken floor" type="text">
              </div>
            </div>
          </div>
        
         
        <div class="text" style="display:none">
            <div class="form-group">
              <div class="col-md-6">
                <label class="control-label" for="location" >Location</label>
                <input name="surname" class="form-control" placeholder="2nd Floor" type="text">
              </div>
            </div>
        </div>
        
        <div class="text" style="display:none">
            <div class="form-group">
              <div class="col-md-6">
                <label class="control-label" for="discussion" >Discussion</label>
                <input name="surname" class="form-control" placeholder="Berbahaya" type="text">
              </div>
            </div>
        </div>
          
        </fieldset>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block info" id="slider1next" >Next</button>
      </div>
      <script>
          var d = new Date();
          var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
          var months = ["January", "February", "March", "April", "May", "June", "July", "Agugust", "September","October","November","December"];
          document.getElementById("demo").innerHTML = days[d.getDay()]+", "+ d.getUTCDate() + "-" + months[d.getUTCMonth()] + "-" +d.getUTCFullYear();
      </script>
      <script src="{% static 'js/IssuePage.js' %}"></script>
</body>
</html>
