{% extends "YPM/layout/base.html" %}
{% block title %} Pesan dari {{ name }} {% endblock %}
{% block content %}
<h1 style="text-align:center;">Thank you for your message :)</h1>
<br> <h3 style="text-align:center;">Your message will not be visible for others</h3>
<br>
<textarea readonly rows="5" class="form-control">&quot;{{message}}&quot;-{{name}} 
    by {{ email }}
</textarea>
{% endblock %}

{% block footer %}
    <p> &copy; {{name}} </p>
{% endblock %}
